$black: #04060d;
$blue: #3e8de3;
$darkBlue: #143aa2;
$white: #d3d4d7;

* {
  box-sizing: border-box;
  color: $white;
}

::selection {
  background-color: $white;
  color: $black;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  background-color: $black;
}

label {
  font-size: 12px;
  display: block;
}

input {
  all: unset;
  background-color: transparent;
  border: 1px solid $white;
  padding: 10px 5px;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 5px;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $darkBlue;
    border: 1px solid $darkBlue;
  }
}

// Spacing helpers
.mt-10 {
  margin-top: 10px;
}
