$black: #1e1e1e;
$blue: #3030ad;
$white: #fff;

* {
  box-sizing: border-box;
  color: $white;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $black;
}

label {
  font-size: 12px;
  display: block;
}

input {
  all: unset;
  background-color: transparent;
  border: 1px solid $white;
  padding: 5px;
}

button {
  all: unset;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;
  font-weight: bold;
  padding: 5px 10px;
}

// Spacing helpers
.mb-5 {
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}
